<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.ums.mapper.ChangePasswordLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.ums.model.ChangePasswordLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="new_password" property="newPassword" />
        <result column="ip" property="ip" />
        <result column="user_agent" property="userAgent" />
        <result column="gmt_change_password" property="gmtChangePassword" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>
    <update id="insertChangePasswordLog">
        insert into ums_change_password_log (
            user_id,
            username,
            nickname,
            new_password,
            ip,
            user_agent,
            gmt_change_password,
            gmt_create,
            gmt_modified
        ) values (
            #{userId},
            #{username},
            #{nickname},
            #{newPassword},
            #{ip},
            #{userAgent},
            #{gmtChangePassword},
            #{gmtCreate},
            #{gmtModified}
        )
    </update>
</mapper>
