<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.ums.mapper.UserDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.ums.model.UserDetail">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="day_of_birth" property="dayOfBirth" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="gender" property="gender"/>
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="education" property="education" />
        <result column="industry" property="industry" />
        <result column="career" property="career" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>
    <!-- 标准查询字段列表 -->
    <sql id="StandardQueryFields">
        <if test="true">
            id,
            user_id,
            day_of_birth,
            country,
            province,
            city,
            district,
            education,
            industry,
            career,
            gmt_create,
            gmt_modified,
            gender
        </if>
    </sql>

    <!-- 标准查询映射结果 -->
    <resultMap id="StandardResultMap" type="cn.tedu.mall.pojo.ums.vo.UserDetailStandardVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="day_of_birth" property="dayOfBirth"/>
        <result column="country" property="country"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="education" property="education"/>
        <result column="industry" property="industry"/>
        <result column="career" property="career"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="gender" property="gender"/>
    </resultMap>
    <insert id="insertUserDetail">
        insert into ums_user_detail (
        user_id,
        day_of_birth,
        country,
        province,
        gender,
        city,
        district,
        education,
        industry,
        career
        ) values (
        #{userId},
        #{dayOfBirth},
        #{country},
        #{province},
        #{gender},
        #{city},
        #{district},
        #{education},
        #{industry},
        #{career}
        )
    </insert>
    <select id="selectUserDetailByUserId" resultMap="StandardResultMap">
        select
            <include refid="StandardQueryFields"/>
        from
            ums_user_detail
        where
            user_id=#{userId}
    </select>
    <update id="updateUserDetailById">
        update ums_user_detail
        <set>
            <if test="dayOfBirth != null">
                day_of_birth=#{dayOfBirth},
            </if>
            <if test="country != null">
                country=#{country},
            </if>
            <if test="province != null">
                province=#{province},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="city != null">
                city=#{city},
            </if>
            <if test="district != null">
                district=#{district},
            </if>
            <if test="education != null">
                education=#{education},
            </if>
            <if test="industry != null">
                industry=#{industry},
            </if>
            <if test="career != null">
                career=#{career},
            </if>
        </set>
            where id=#{id}
    </update>
    <select id="selectUserDetailById" resultMap="StandardResultMap">
        select
            <include refid="StandardQueryFields"/>
        from
            ums_user_detail
        where
            id=#{id}
    </select>
</mapper>
