<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.ams.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.admin.model.Admin">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="description" property="description" />
        <result column="is_enable" property="isEnable" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="login_count" property="loginCount" />
        <result column="gmt_last_login" property="gmtLastLogin" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>
    <select id="selectAdminByUsername" resultType="cn.tedu.mall.pojo.admin.vo.AdminVO">
        select *
            from
            ams_admin
        where
            username=#{username}
    </select>
    <select id="selectAdmins" resultType="cn.tedu.mall.pojo.admin.vo.AdminVO">
        select *
            from
            ams_admin
        order by gmt_create desc
    </select>
    <insert id="insertAdmin">
        insert into ams_admin (
        <if test="nickname!=null">
            nickname,
        </if>
        <if test="avatar!=null">
            avatar,
        </if>
        <if test="email!=null">
            email,
        </if>
        <if test="description!=null">
            description,
        </if>
        <if test="isEnable!=null">
            is_enable,
        </if>
        id,
        username,
        password,
        phone,
        nickname,
        email
        ) values (
        <if test="nickname!=null">
            #{nickname},
        </if>
        <if test="avatar!=null">
            #{avatar},
        </if>
        <if test="email!=null">
            #{email},
        </if>
        <if test="description!=null">
            #{description},
        </if>
        <if test="isEnable!=null">
            #{isEnable},
        </if>
        #{id},
        #{username},
        #{password},
        #{phone},
        #{nickname},
        #{email}
        )
    </insert>
    <select id="selectAdminsByUsername" resultType="cn.tedu.mall.pojo.admin.vo.AdminVO">
        select *
            from
            ams_admin
        where
            nickname like concat("%",#{query},"%")
    </select>
    <update id="updateAdmin">
        update ams_admin
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="nickname!=null">
                nickname=#{nickname},
            </if>
            <if test="isEnable!=null">
                is_enable=#{isEnable},
            </if>
            <if test="avatar!=null">
                avatar=#{avatar},
            </if>
        </set>
        where id=#{id};
    </update>
    <delete id="deleteAdmin">
        delete from ams_admin where id=#{id}
    </delete>
</mapper>
